

corpo{
    width: 280px;
    height:100px;
}

h1{
font-family: 'Amatic SC', cursive;
text-align:center;

}
body div {
    display: flex;
    width: 280px;
    height:100px;
    margin: 0 auto;
    border: 2px dashed black;
    background-color: ghostwhite;
    border: 2px solid;

}