body>* {
    font-family: 'Courier New', Courier, monospace;
}


.flex-container {
    background-color: #f1f1f1;
    width: 880px;
    height: 400px;
    margin: auto;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.flex-container-voltar {
    background: #d90606;
    margin: 7px 453px;
    border-radius: 13px;
    line-height: 75px;
    font-size: 30px;
    color: #fff;
    border: none
}


.flex-container-salvar {
    background: #06c22f;;
    margin: 7px 453px;
    border-radius: 13px;
    line-height: 75px;
    font-size: 30px;
    color: #fff;
    border: none
}

.flex-container-voltar:hover {
    cursor: pointer;
}

.flex-container-moeda {
    background-color: #f1f1f1;
    width: 880px;
    height: 568px;
    margin: auto;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.formulario {

    font-size: 30px;
    margin: 0 auto;
    width: 800px;
    text-align: center;
    border: 1px solid #999;
}


h1 {
    font-size: 44px;
    color: #003366;
    text-align: center;

}

h3 {
    text-align: center;
    font-size: 44px;
    color: #003366;

}

.botao {
    background: #06c22f;
    border-radius: 6px;
    padding: 15px 32px;
    cursor: pointer;
    color: #fff;
    border: none;
    margin: 4px 17px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;

}

.botao-deletar {
    background: #d90606;
    border-radius: 6px;
    padding: 15px 32px;
    cursor: pointer;
    color: #fff;
    border: none;
    margin: 34px 2px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.botao-atualizar {
    background: #3a17ff;
    border-radius: 6px;
    padding: 15px 32px;
    cursor: pointer;
    color: #fff;
    border: none;
    margin: 4px 2px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.botao-listagem {
    background: #8d8d0e;
    border-radius: 6px;
    padding: 15px 32px;
    cursor: pointer;
    color: #fff;
    border: none;
    margin: 4px 2px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.rodape {
    text-align: center;

}

.recursos {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    color: white;

    position: absolute;
    bottom: 0;
    right: 0;
}

.sobre {
    background-color: #0699c2;
    border-radius: 6px;
    color: white;
    font-size: 24px;
    height: 46px;
    width: 134px;
    padding: 10px;
    text-align: center;
    margin: 5px 20px;
    font-family: Arial, Helvetica, sans-serif;
}


.hoverEffect:hover {
    cursor: pointer;
    filter: contrast(130%);
}

.extrair-dados {
    background-color:  rgb(59 52 28 / 35);
    border-radius: 10px;
    font-size: 24px;
    height: 46px;
    color: white;
    width: 143px;
    padding: 10px;
    margin: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


.botao-download {
    background: #06d993;
    border-radius: 6px;
    padding: 15px 32px;
    cursor: pointer;
    color: #fff;
    border: none;
    margin: 34px 2px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;



.sair{
    background-color: #cd2807;
    border-radius: 6px;
    color: white;
    font-size: 24px;
    height: 46px;
    width: 134px;
    padding: 10px;
    text-align: center;
    margin: 5px 20px;
    font-family: Arial, Helvetica, sans-serif;
}




.center-table {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

table, th, td {
    border: 1px solid #ddd;
    margin-bottom: 2.5em;
    text-align: center;
    align-self: center;
}

table {
    border-collapse: collapse;
    align-items: center;
}

th, td {
    padding: 15px 6px;
}

td {
    font-size: 24px;
}

.container {
    /* max-width: 425px; */
    margin: 0 auto;
    display: flex;
    border: 3px solid #ccc;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}


.container-login-criar {
    max-width: 425px;
    margin: 0 auto;
    display: flex;
    border: 3px solid #ccc;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sobre-dev{
    background-color: #f1f1f1;
    width: 1000px;
    height: 744;
    margin: auto;
    
    line-height: 22px;
    font-size: 25px;
}

.dev{
    text-align: center;
}

.avatar {
    height: 50px;
    width: 50px;
    border: 1px solid #CECECE;
    border-radius: 50%;
}