body > * {
    font-family: 'Courier New', Courier, monospace;
}


.flex-container {
    background-color: #f1f1f1; 
    width: 880px;
    height: 400px;
    margin: auto;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.formulario{
   
    font-size: 30px;
    margin: 0 auto;
    width: 800px;
    text-align: center;
    border: 1px solid #999;  
}


h1 {
    font-size: 44px;
    color: #003366;
    text-align: center;

}
h3 {
    text-align: center;
    font-size: 44px;
    color: #003366;

}

.botao {
    background: #06c22f;
    border-radius: 6px;
    padding: 15px 32px;
    cursor: pointer;
    color: #fff;
    border: none;
    margin: 4px 17px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;

}

.botao-deletar {
    background: #d90606;
    border-radius: 6px;
    padding: 15px 32px;
    cursor: pointer;
    color: #fff;
    border: none;
    margin: 34px 2px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.botao-atualizar {
    background: #3a17ff;
    border-radius: 6px;
    padding: 15px 32px;
    cursor: pointer;
    color: #fff;
    border: none;
    margin: 4px 2px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.botao-listagem {
    background: #8d8d0e;
    border-radius: 6px;
    padding: 15px 32px;
    cursor: pointer;
    color: #fff;
    border: none;
    margin: 4px 2px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}


.rodape {
    text-align: center;
}
.center-table {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

table, th, td {
    border: 1px solid #ddd;
    margin-bottom: 2.5em;
    text-align: center;
    align-self: center;
  }

  table {
    border-collapse: collapse;
    align-items: center;
  }

  th, td {
    padding: 15px 6px;
  }

  td {
    font-size: 24px;
  }

  .container {
    /* max-width: 425px; */
    margin: 0 auto;
    display: flex;
    border: 3px solid #ccc;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }


  .container-login-criar {
    max-width: 425px;
    margin: 0 auto;
    display: flex;
    border: 3px solid #ccc;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }