<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narwo.css.css">

</head>

<body>

  <div class="container">
    <div class="header">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation"> <a href="#">Login</a></li>
        </ul>
      </nav>
      <h3 class="text-muted">PortFólio do dados</h3>
      <hr>
    </div>

    <div class="jumbotron">
      <h1>Acompanhe Meu PortFólio de projetos</h1>
      <p class="lead"></p>
      <p><a class="btn btn-lg btn-success" href="showSignup" role="button">Faça seu Cadastro</a></p>
    </div>


    <div class="row marketing">
      <div class="col-lg-6">
        <h4>Projeto 1</h4>
        <p>Criação de App Analítica Para Previsão de Vendas.</p>

        <h4>Projeto 2</h4>
        <p>Análise de Sentimentos em Tempo real.</p>

        <h4>Projeto 3</h4>
        <p>Detecção de Fraude na Contatabilidade.</p>
      </div>


      <div class="col-lg-6">
        <h4>Projeto 4</h4>
        <p>Análise e Previsão de Turnover dos Colaboradores.</p>

        <h4>Projeto 5</h4>
        <p>Dashboard de Previsão de Fatauramento em Tempo Real Por Produto e Por Região.</p>

        <h4>Projeto 6</h4>
        <p>Robô Advogado.</p>
      </div>
    </div>
    <hr>
    <footer class="footer">
      <p>&copy; Data Science Acade</p>
    </footer>

    </div>
</body>

</html>