<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Listagem Moedas</title>
</head>

<body>

  <h1>Listagem de Moedas</h1>

  <div class="center-table">
    <table>
      <th>Id</th>
      <th>Nome</th>
      <th>Simbolo</th>
      <th>Valor</th>
      <th>Quantidade</th>
      <th>Deletar</th>
      <th>Atualizar dados</th>
      {%for moeda in content%}
      <tr>
        <td>
          {{ moeda[0] }}
        </td>
        <td>
          {{ moeda[1] }}
        </td>
        <td>
          {{ moeda[2] }}
        </td>
        <td>
          {{ moeda[3] }}
        </td>
        <td>
          {{ moeda[4] }}
        </td>
        <td>
          <a class="botao-deletar" href="/deletar_moeda?id={{moeda[0]}}">Deletar</a>
        </td>
        <td>
          <a  class="botao-atualizar" href="/tela_atualizar_moedas?id={{moeda[0]}}">Atualizar</a>
        </td>
      </tr>
      {%endfor%}
    </table>
  </div>

  <div class="flex">
  <input type="button" class="flex-container-voltar" value="Voltar" onclick="window.location.href='tela_menu'"> 
</div>


</body>

</html>