<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Listar clientes</title>
</head>
<body>
  <h1>DzFinance</h1>

  <!-- <table style="width:100%"> -->
<div class="center-table" >
  
      
     <a class="botao-listagem" href="tela_listar_clientes">Listagem de clientes</a>
       <a class="botao"href="tela_inserir_cliente">Adicionar clientes</a></th>
       <a class="botao-atualizar"href="tela_atualizar_clientes_dois">Atualizar clientes</a>

     <a class="botao-listagem" href="tela_listar_moedas">Listagem de Moedas</a>
      <a class="botao" href="tela_listar_clientes">Adicionar Moedas</a></th>
      <a  class="botao-atualizar"href="tela_listar_clientes">Atualizar Moedas</a>
  
    
    </div>
 
  <!-- </table> -->
  
</body>
</html>