<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Listagem clientes</title>
</head>
<body>

  <form action=" " method="post">
    <input type="text" name="nome"  placeholder="Digite seu nome"/>
    <input type="text" name="email" placeholder="Digite sua senha..."/>
    <input type="text" name="senha" placeholder="Digite seu Email..."/>
    <input type="submit" name="acao" value="Enviar" />
  </form>
  
</body>
</html>