<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ url_for('static', filename = 'style.css') }}" rel="stylesheet" />

  <title>Document</title>
</head>

<body>


  
  {% for cliente in content %}
  <div class="center-table">
  <form action=" " method="post">
    <input type="text" name="nome"  placeholder="Digite seu nome"/>
    <input type="text" name="senha" placeholder="Digite seu Email..."/>
    <input type="text" name="email" placeholder="Digite sua senha..."/>
    <input type="submit" name="acao" value="Atualizar" />
    <input type="hidden" name="id" value="{{cliente[0]}}"/>
  </form>
</div>

    <div class="center-table">
        <div>Id:</div> <div>{{ cliente[0] }} </div>
      <div>Nome:</div> {{ cliente[1] }}
    <div>Email:</div> {{ cliente[2] }}
  <div><p>Senha:</div> {{ cliente[3] }}

        <!-- <a href="/deletar?id={{cliente[0]}}">Deletar</a> -->
        <!-- <a href="/inserir?id={{cliente[0]}}">Inserir</a> -->
        <input type="hidden" name="id" value="{{cliente[0]}}"/>
       
      </div>  
  

  {% endfor %}
</div>
  <script src="{{ url_for('static', filename = 'scripts.js') }}"></script>
</body>

</html>