<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DzFinance</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

  <div class="container">
    <div class="header">

      <h3 class="text-muted">Tudo que você precisa esta aqui</h3>
      <hr>
    </div>

    <div class="flex-container">
      <div class="cadastro">
        <h1>Acompanhe seus rendimento</h1>

        <p> <a class="botao" href="tela_login">Entrar</a></p>
        <p><a class="botao-atualizar" href="tela_cadatro">Criar nova conta</a></p>
      </div>
    </div>


    <hr>
    <footer class="rodape">
      <p>Author: Donizete<br>
        <a href="https://github.com/Doni-zete/
        Projeto-Pr-tico-p2">Github</a>

      </p>
    </footer>
  </div>

</body>

</html>