<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Sobre</title>
</head>
<body>
  <h1>Sobre</h1>

  <div class="sobre-dev">
<p>A Aplicação desenvolvida tem como objetivo armazenar informações de compra e venda de criptoativos.</p>
<p>Moedas que foi comprada, o valor pago e a quantidade comprada,conta tambem com a opção de cadastrar clientes.</p>


<p class="dev">Desenvolvedores:</p>
<p>Donizete Crisostomo RA:2840482013049 </p>



<button type="button" class="botao-deletar" onclick="window.location.href='tela_menu'" >Voltar</button>



  </div>

</body>
</html>