<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Listagem clientes</title>
</head>

<body>

  <h1>Listagem de clientes</h1>

  <div class="center-table">
    <table>
      <th>Id</th>
      <th>Nome</th>
      <th>Senha</th>
      <th>Email</th>
      <th>Apagar</th>
      <th>Atualizar dados</th>
      {%for cliente in content%}
      <tr>
        <td>
          {{ cliente[0] }}
        </td>
        <td>
          {{ cliente[1] }}
        </td>
        <td>
          {{ cliente[2] }}
        </td>
        <td>
          {{ cliente[3] }}
        </td>
        <td>
          <a class="botao-deletar" href="/deletar_cliente?id={{cliente[0]}}">Deletar</a>
        </td>
        <td>
          <a class="botao-atualizar" href="/tela_atualizar_clientes?id={{cliente[0]}}">Atualizar</a>
        </td>
      </tr>
      {%endfor%}
    </table>
  </div>




  
  <div class="flex">
    <button class="flex-container-voltar" onclick="window.location.href='tela_menu'">
      Voltar
    </button>
  </div>




</body>
</html>