<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Entrar</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>


<body>

  <div class="container">
    <div class="header">
      <h3 class="text-muted">Criar conta conta</h3>
    </div>


    <div class="flex-container">
      <div class="cadastro">
        <h1>Cadastre-se</h1>

        <form class="formulario">
          <label for="inputNome" class="sr-only">Nome</label>
          <input type="name" name="inputNome" id="inputNome" class="form-control" placeholder="Digite seu nome" required
            autofocus> <br>
  
          <label for="inputEmail" class="sr-only">Email</label>
          <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Digite seu e-mail"
            required autofocus>
  
          <br>
          <label for="inputSenha" class="sr-only">Senha</label>
          <input type="senha" name="inputSenha" id="inputSenha" placeholder="Digite sua senha" required>
          <br>
  
          <button id="btnentrar" clas="botao" type="button">Cadastrar</button>
        </form>
        
      </div>
    </div>

    

</body>
</html>